- wrap_layout :default do

  %ul.unstyled
    - data.documentation.modules.each do |dir|
      %li
        %h3= dir.name
        %ul.unstyled
          - dir.docs.each do |doc|
            - path = "/documentation/#{dir.name}/#{doc}"
            - page = sitemap.find_resource_by_path(path)
            %li
              %h4
                %i.icon-double-angle-right
                  = link_to page.data.title, page.url

  = yield
