- wrap_layout :layout do
  .row-fluid
    .span12
      .hero-unit
        %h1= data.site.title
        %h2= data.site.subtitle

        %a.btn.btn-large.btn-info{:href=>"/download.html"} get started

        %ul.inline
          %li= link_to "tutorials", "#"
          %li= link_to "api reference", "#"
          %li= link_to "source code", "#"

  .row-fluid
    .span6.offset3
      :markdown
        **vroom** is designed to make immersive 3D visualization easier by
        reducing the amount of time (and effort) required to develop VR
        applications.  **vroom** is built using the [Vrui](#) library and
        python. It is being developed at the *University of California, Davis*.

  .row-fluid
    .span3.offset2
      %h3 simple syntax
      %p= lorem.paragraph

    .span3
      %h3 live coding
      %p= lorem.paragraph

    .span3
      %h3 high level
      %p= lorem.paragraph
    

  .row-fluid
    .span10.offset1
      .media
        %a.pull-right
          %img.media-object{:src=>"holder.js/600x400/social"}
        .media-body
          %h4 user-interaction

          :markdown
            ~~~ python
            from vroom import *

            def init():
              Global.points = []

            def draw():
              lighting(False)
              color(green)
              draw(sphere, 3.0).for_each(Global.points)

            def buton_press(pos, button):
              Global.points.append(pos)
            ~~~
    
  .row-fluid
    .span10.offset1
      .media
        %a.pull-right
          %img.media-object{:src=>"holder.js/600x400/social"}
        .media-body
          %h4 texture-mapping

          :markdown
            ~~~ python
            from vroom import *

            def init():
              Global.texture = Texture.from_file('crate.png')

            def draw():
              material(white)
              cube(3.0, texture=Global.texture)
            ~~~

  .row-fluid
    .span10.offset1
      .media
        %a.pull-right
          %img.media-object{:src=>"holder.js/600x400/social"}
        .media-body
          %h4 animation

          :markdown
            ~~~ python
            from vroom import *

            def init():
              Global.radius = 1.0

            def frame():
              Global.radius = fabs(sin(elapsedTime()))

            def draw():
              sphere(Global.radius)
            ~~~
